@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    /* color:#fed766;
    color:#009fb7; */
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 2px;
    /* margin: 0 100px; */
    align-items: center;
    margin: 15px;

}
.child i{
    margin: 0 8px;
    color: #1d3557;
}
.child i:hover{
    color:#009fb7;
}
.header{
    font-size: 22px;
    width:100%;
    text-transform: uppercase;
}
.logo h4{
    color:#1d3557;
}
.btn1{
    text-decoration: none;
    background-color: #1d3557;
    color:#e4e3e2;
    padding:10px 20px;
}
.btn2{
    text-decoration: none;
    background-color: #e63946;
    color:#e4e3e2;
    padding:10px 20px;
}


/* Background image */
.hero{
    background: url(/img/background.jpg);
    width:100%;
    height:60vh;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: cover; */
   /* position: relative; */
  background-size: cover;

    /* object-position: center; */
}
h1{
    font-size: 40px;
    padding:10px;
    color: #e63946;
}
h3{
    font-size: 30px;
    padding:10px;
    color: #111;
   
}
.hero-p{
    font-size: 12px;
    padding:17px;
    color: #1d3557;
    font-weight: bold;
}
.course1{
    padding:10px 15px;
    width:100px;
    background-color:#e63946;
    color:#f1faee;
    text-decoration: none;
}
.course1:hover{
    background-color: #e63946;
    transition: 1.1s all ease-in-out;
}
.course2{
    padding:10px 15px;
    width:100px;
    background-color:#1d3557;
    color:#f1faee;
    text-decoration: none; 
}
.course2:hover{
    padding:10px 15px;
    width:100px;
    background-color:#1d3557;
    color:#f1faee;
    text-decoration: none;  
}


.bg-text{
   margin:0 160px;
   font-size: 11px;
  color:#1d3557;
  font-weight: bold;
   padding:10px;
}
.container-h4{
    font-size: 22px;
    margin:0 138px;
    /* margin: 0 10px; */
    color:#1d3557;
}



@media screen and (max-width:720px){
.container{
    
    margin:20px;
    display: flex;
    justify-content: space-between;
}


}

@media screen and (max-width:556px){
.nav-links{
    height:50px;
}

}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    margin: 15px;
  /* position: fixed; */
  /* width:100%; */
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgb(189, 189, 190);
}
.logo{
    color:#fed766;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}

.nav-links{
    display: flex;
    width:34%;
    align-items: center;
    justify-content: space-around;
  
}
.nav-links li{
    list-style-type: none;
}
.nav-links a:hover{
 color: #e63946;
 border-bottom: 2px solid #e63946;
    /* height:10px; */
    
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    color:rgb(12, 5, 5);
    
}
.nav-links a:hover{
    color:#e63946;
}
button{
    color:#e4e3e2;
    border: none;
    padding:15px 12px 6px;
    text-align: center;
    background-color: #1d3557;
   
}
.burger{
    display: none;
}
.burger div{
width:25px;
height:3px;
background-color:#111;
margin: 5px;
transition: all 0.3s ease;
}
button:hover{
    background-color: transparent;
    border: 1px solid #009fb7;
    color:#1d3557;
    transition:1.1s all ease-in-out;  
}


/*  For Desktop */
@media screen and (max-width:1024px){
   
.nav-links{
    width:60%;

}
}

/* For Mobile */
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
      right:0px;
      height:63vh;
      top:25vh;
      background-color: #e63946;
     
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-links a{
        color:#e4e3e2;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
        color:#1d3557;
    }
    button{
        display: none;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);   
}

form{
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin: 0px; */
    padding: 40px;
    height: 80vh;
    background-color: #1d3557;
}

input[type=text]{
    width:30%;
    height: 10vh;
    text-align: center;
    color:#fff;
    background-color: transparent;
    border: 1px solid #e4e3e2;
}

input[type=email]{
    width:30%;
    height: 10vh;
    text-align: center;
    background-color: transparent;
    border: 1px solid #e4e3e2;
    color:#fff;
}
input[type=psw]{
    width:60%;
    color:#fff;
    height: 10vh;
    text-align: center;
    background-color: transparent;
    border: 1px solid #e4e3e2;
}
.textarea{
    width:60%;
    color:#fff;
    height: 35vh;
    text-align: center;
    background-color: transparent;
    border: 1px solid #e4e3e2;
}
.submit{

    color:#fff;
 
    text-decoration: none;
    padding:10px 100px;
    background-color: transparent;
    border: 1px solid #fff;
}
h1{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

@media screen and (max-width:720px){
    form{
        width: 100%;
    }
    input[type=text]{
        display: block;
        width:100%;
    }
    input[type=email]{
        display: block;
        width:100%;
    }
    input[type=psw]{
        display: block;
        width:100%;
    }
    .textarea{
        width: 100%;
        height: 10vh;
    }
    .submit{
      width:40%;
        margin:0px;
    }
}
@media screen and (max-width:720px){
    .textarea{
        width: 100%;
      
    }
    .submit{
       width: 10%;
        margin: 0px;
    }
}